In [3]:
#Exercise 1: Print First 10 natural numbers using while loop
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
#Exercise 2: Print the following pattern
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print("\n")

5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [13]:
#Exercise 3: Calculate the sum of all numbers from 1 to a given number
n=int(input("Enter num"))
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

Enter num10
55

In [14]:
#Exercise 4: Write a program to print multiplication table of a given number
n=int(input())
for i in range(1,11):
    print(i*n)

3
3
6
9
12
15
18
21
24
27
30

In [21]:
#Exercise 5: Display numbers from a list using loop
lst=[12, 75, 150, 180, 145, 525, 50]
for i in lst:
    if i>150:
        continue
    elif i>500:
        break
    elif i%5==0:
        print(i)

75
150
145
50

In [3]:
#Exercise 6: Count the total number of digits in a number
n=int(input("Enter n "))
a=n
cnt=0
while a!=0:
    dig=a%10
    cnt+=1
    a//=10

print(cnt)

Enter n 54223
5

In [7]:
#Exercise 7: Print the following pattern
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1
n=int(input())
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print("\n")

5
54321

4321

321

21

1

In [14]:
#Exercise 8: Print list in reverse order using a loop
lst=[10, 20, 30, 40, 50]
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

50
40
30
20
10

In [16]:
#Exercise 9: Display numbers from -10 to -1 using for loop
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [17]:
#Exercise 10: Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [19]:
#Exercise 11: Write a program to display all prime numbers within a range
def check(num):
    for i in range(2,num):
        if num%i==0:
            return False
    return True
s=int(input())
e=int(input())
for i in range(s,e+1):
    if(check(i)):
        print(i)

25
50
29
31
37
41
43
47

In [20]:
#Exercise 12: Display Fibonacci series up to 10 terms
def solve(n):
    fibon=[0,1]
    for i in range(2,n):
        fibon.append(fibon[-1]+fibon[-2])
    return fibon

n=int(input())
fib=solve(n)
print(fib)

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [23]:
#Exercise 13: Find the factorial of a given number
def solve(n):
    if n==0 or n==1:
        return 1
    return n*solve(n-1)

n=int(input())
fact=solve(n)
print(fact)

5
120

In [24]:
#Exercise 14: Reverse a given integer number
def reverse(n):
    rev=0
    while n!=0:
        dig=n%10
        rev=rev*10+dig
        n//=10
    return rev
n=int(input())
print(reverse(n))

456
654

In [26]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0,len(my_list)):
    if i%2!=0:
        print(my_list[i])

20
40
60
80
100

In [28]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number
def cube(i):
    return i*i*i
n=int(input())
for i in range(1,n+1):
    print(cube(i))

5
1
8
27
64
125

In [ ]:
#