In [2]:
#Exercise 1: Accept numbers from a user

def mult(a,b):
    return a*b

a=int(input("Enter a "))
b=int(input("Enter b "))
print(mult(a,b))

Enter a5
Enter b4
20

In [3]:
#Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
print('My','Name','Is','James',sep='**')

My**Name**Is**James

In [4]:
#Exercise 3: Convert Decimal number to octal using print() output formatting
print(oct(8))

0o10

In [6]:
#Exercise 4: Display float number with 2 decimal places using print()
num=10.34532
print('%.2f'%num)

10.35

In [1]:
#Exercise 5: Accept a list of 5 float numbers as an input from the user
lst=[]
for i in range(5):
    lst.append(float(input()))
print(lst)

2.34
4.211
9.323
321.342
11.543
[2.34, 4.211, 9.323, 321.342, 11.543]

In [3]:
#Exercise 6: Write all content of a given file into a new file by skipping line number 5
with open("test.txt","r") as tt:
    lines=tt.readlines()
with open("test2.txt","w") as tt:
    cnt=0
    for i in lines:
        if cnt==4:
            cnt+=1
            continue
        else:
            tt.write(i)
        cnt+=1

In [6]:
#Exercise 7: Accept any three string from one input() call
name1,name2,name3=input("Enter name1, Enter name2, Enter name3").split()
print(name1,name2,name3)

Enter name1, Enter name2, Enter name3Anant Nipun Udit
Anant Nipun Udit

In [7]:
#Exercise 8: Format variables using a string.format() method.
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [10]:
#Exercise 9: Check file is empty or not
import os
os.stat('test.txt').st_size

41

In [12]:
#Exercise 10: Read line number 4 from the following file
with open('test.txt','r') as tt:
    lines=tt.readlines()
    print(lines[3])

line4