In [3]:
#xercise 1: Reverse a list in Pythonlist1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [5]:
#Exercise 2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
for i in range(0, len(list1)):
    list1[i] = list1[i] + list2[i]

list1

['My', 'name', 'is', 'Kelly']

In [6]:
#Exercise 3: Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
num=[]
for i in numbers:
    num.append(i*i)
num

[1, 4, 9, 16, 25, 36, 49]

In [7]:
#Exercise 4: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for i in range(0,len(list1)):
    list1[i]=list1[i]+list2[i]

list1

['Hello Dear', 'take Sir']

In [10]:
#Exercise 5: Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(0,len(list1)):
    print(list1[i],"",list2[i])

10  400
20  300
30  200
40  100

In [17]:
#Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [18]:
#Exercise 7: Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [19]:
#Exercise 8: Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [20]:
#Exercise 9: Replace listâ€™s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
idx=list1.index(20)
list1[idx]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [23]:
#Exercise 10: Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = [i for i in list1 if i != 20]
list1

[5, 15, 25, 50]